.numeric_button
{
    color: hsl(199, 100%, 42%);
    font-family: Arial;
    font-weight: bold;
    padding: 2px;
}
.current_page
{
    color: #000;
    font-family: Arial;
    font-weight: bold;
    padding: 2px;
}
.next_button
{
    color: #000;
    font-family: Arial;
    font-weight: bold;
    padding: 2px;
}
.last_button
{
    background: url(../images/paging/next.png) no-repeat;
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: #FFFFFF;
}

#ContentPlaceHolder1_pnlDiv
{
    position: relative;
    padding-top: 20px;
}

#ContentPlaceHolder1_repMemberList_DataPager1 a:nth-child(2)
{
    background: url(../images/paging/first.png) no-repeat;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font: bold 10px/13px Verdana,Arial,Helvetica,sans-serif;
    margin: 10px auto 2px auto;
    text-align: center;
    text-decoration: none;
    width: 12px;
    height: 12px;
    position: relative;
    top: 3px;
}

#ContentPlaceHolder1_repMemberList_DataPager1 a:nth-child(3)
{
    background: url(../images/paging/prev.png) no-repeat;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font: bold 10px/13px Verdana,Arial,Helvetica,sans-serif;
    margin: 10px auto 2px auto;
    text-align: center;
    text-decoration: none;
    width: 12px;
    height: 12px;
    position: relative;
    top: 3px;
}


#ContentPlaceHolder1_repMemberList_DataPager1 a:nth-last-child(-n+2)
{
    background: url(../images/paging/next.png) no-repeat;
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    top: 2px;
}
#ContentPlaceHolder1_repMemberList_DataPager1 a:last-child
{
    background: url(../images/paging/last.png) no-repeat !important;
    width: 12px !important;
    height: 12px !important;
    cursor: pointer !important;
    color: #FFFFFF !important;
    display: inline-block !important;
    position: relative !important;
    top: 2px !important;
}
.btn-f1
{
    background: url(../images/paging/first.png) no-repeat;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font: bold 10px/13px Verdana,Arial,Helvetica,sans-serif;
    margin: 10px auto 2px auto;
    text-align: center;
    text-decoration: none;
    width: 12px;
    height: 12px;
}

.btn-f2
{
    background: url(../images/paging/prev.png) no-repeat;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font: bold 10px/13px Verdana,Arial,Helvetica,sans-serif;
    margin: 10px auto 2px auto;
    text-align: center;
    text-decoration: none;
    width: 12px;
    height: 12px;
}
.btn-l1
{
    background: url(../images/paging/next.png) no-repeat;
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    top: 2px;
}
.btn-l2
{
    background: url(../images/paging/last.png) no-repeat;
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    top: 2px;
}
.pg
{
    position: absolute;
    left: 160px;
    top: -32px;
    width: 296px!important;
}
.Fstanchor
{
    position: absolute;
    top: 34px;
    left: -160px;
    cursor: text;
    color: #464544;
    font-weight: bold;
}
.Fstanchor:hover
{
    text-decoration: none;
}
 /*.member_list_table th
{
    background: #e09819;
}
*/

.member_list_table thead tr {
background: #e09819 !important;

color: #FFF;
}


 .member_list_table tr:nth-child(even)
{
    background: #EEEEEE;
}
.member_list_table tr:nth-child(odd)
{
    background: #F7F7F7;
}  
