<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div>
          <h5>Neta Watch is created with the help amazing organisations like</h5>
          <ul class="credit_list">
            <li class="d-inline-flex align-items-start">
              <img src="./../images/logo-adr.png" alt="ADR">
              <a href="https://adrindia.org/" target="_blank">Association of Democratic Reform</a>
            </li>
            <li>
              <img src="./../images/myneta.png" alt="MyNeta">
              <a href="http://myneta.info/" target="_blank">MyNeta</a>
            </li>
            <li>
              <img src="./../images/ls.jpg" alt="Lok Sabha">
              <a href="http://loksabha.nic.in/" target="_blank"Lok Sabha</a>
            </li>
            <li>
              <img src="./../images/prs.png" alt="PRS">
              <a href="http://www.prsindia.org/" target="_blank">PRS</a>
            </li>
            <li>
              <img src="./../images/gmap.jpg" alt="Gmap">
              <a href="#">Google Maps</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div>
          <p class="text-note">
            DISCLAIMER : All data on the site in taken from various public sources. Therefore we cannot guarantee  about their accuracy.
            If you find any mismatch from the a source. Please let us know, we will resolve it as soon as possible.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
